langchain
langchain-community
langchain-openai
langchain-langchain-anthropic

openai
dotenv
pypdf
langchain-text-splitters
langchain-chroma
google-search-results
numexpr
tabulate
tavily-python
python-docx
reportlab
langfuse